<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notificación local
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="items">
    <ion-item class="container">
      <ion-button expand="block" (click)="notificar()">Generar notificación</ion-button>
    </ion-item>
    <ion-item class="container">
      <ion-button expand="block" (click)="cancelar()">Borrar primera notificación</ion-button>
    </ion-item>
    <ion-item class="container">
      <ion-button expand="block" (click)="cancelarTodas()">Borrar todas las notificaciones</ion-button>
    </ion-item>
  </div>
</ion-content>
